@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="container" style="background-image: url('./Content/Images/green-02@2x.png'); background-size: 'cover'; background-position: 72% 0%">
                    <div class="container-fluid" style="height: 40vh">
                        <h1 class="display-2 text-light"><strong>SaaS Commerce</strong> </h1>
                        <p class="lead text-light mb-5">Your SaaS commerce solution</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>